<div id="push">
</div>

<!-- footer -->

<footer class="footer"
    style="background-color: #EBEBEB;color: #707070;border-top: 1px solid #D9D8D7;bottom: 0px;position: absolute;width: 100%;">
    <div class="container" style="padding-top:12px;">
        <div class="row" copyright>
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-8">

                        <ul class="inline-list navbar-nav" style="list-style: none;">
                            <li>
                                <a href="https://github.com/GCModeller-Cloud">Github</a>
                            </li>
                            <li>
                                <a href="{index/privacy_policy}">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="http://gcmodeller.org">Power by
                                    <strong>GCModeller™</strong>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-lg-4">
                        <p class="text-right">© {#YEAR} | SMRUCC genomics · 中國 桂林<br />
                            xie.guigang@gcmodeller.org</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row" style="color: rgb(210,210,210); font-size: 0.75em; line-height: 1.25em;">
            <div class="large-12 columns">
                <br />

                <img width="225px" src="/resources/images/logo.png" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://gcmodeller.org" target="__blank">
                    <img width="60px" src="http://gcmodeller.org/logo.png" />
                </a>

                <br />
                <br />GCModeller
                <sup>TM</sup> is an open source systems biology bioinformatics software toolkit.
                <br />GCModeller on biotools:
                <a style="font-size: 1.125em;" href="https://bio.tools/gcmodeller">https://bio.tools/gcmodeller</a>
                .
                <br />
                <br />
                <a style="font-size: 0.85em;" href="https://github.com/SMRUCC/GCModeller/blob/master/LICENSE"
                    targte="__blank">GCModeller
                    <sup>TM</sup> Project Licensing Information.</a>
            </div>
        </div>
    </div>
</footer>

${../includes/data-protection-banner.html}