<div ng-show="alertShow" class="text-center" style="font-weight: bold">
    <uib-alert type="{{alertType}}" close="alertShow=false">{{alertMsg}}</uib-alert>
</div>

<div class="contain-to-grid" role="navigation">
    <nav class="navbar navbar-default navbar-fixed-top" data-topbar="" role="navigation" style="box-shadow: 0px 6px 19px 15px rgb(0 0 0 / 30%); background: #333;">
        <div class="container-fluid container">

            <div class="navbar-header">
                <h1 style="font-size: 42px;">
                    <a class="navbar-brand" href="/">
                        <img src="/resources/images/header_logo.png" class="logo" style="height:72px;" /> bioCAD</a>
                </h1>
            </div>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a href="/apps">Application</a>
                    </li>
                    <li class="nav-item">
                        <a href="/biostack">Biostack</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">About</a>
                    </li>
                    <li class="has-form nav-item form-group">
                        <form action="{index/search}" class="navbar-form navbar-left" method="get">
                            <div class="row collapse input-group stylish-input-group" style="position: relative">
                                <div class="large-8 small-9 columns">                                    
                                    <input type="text" name="q" class="form-control" focuse placeholder="Search..">
                                </div>
                                <div class="large-4 small-3 columns">
                                    <input type="submit" class="success button expand" value="Search">
                                </div>
                            </div>
                        </form>
                    </li>

                    <!-- has-dropdown -->

                    <li id="user-menu" class="dropdown {$has_dropdown} not-click">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{<platform>passport/portal}">
                            <i class="fa fa-user"></i> {$username}
                        </a>

                        {$menu_dropdown}

                    </li>

                </ul>
            </section>
        </div>
    </nav>
</div>