<div ng-show="alertShow" class="text-center" style="font-weight: bold">
    <uib-alert type="{{alertType}}" close="alertShow=false">{{alertMsg}}</uib-alert>
</div>

<div class="contain-to-grid" role="navigation">
    <nav class="navbar navbar-default navbar-fixed-top" data-topbar="" role="navigation"
        style="z-index: 999999;box-shadow: 0px 6px 19px 15px rgb(0 0 0 / 30%); background: #333;">
        <div class="container-fluid container" style="width: 95%;">

            <div class="navbar-header">
                <h1>
                    <a class="navbar-brand" style="font-size: 56px;color: white;min-width: 400px; padding: 0px;"
                        href="/">
                        <img src="/resources/images/header_logo.png" class="logo" style="height:72px; float: left;" />
                        <span style="top: 45px;position: absolute;">&nbsp;bioCAD</span></a>
                </h1>
            </div>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a href="/apps" style="color: white;"><i class="fa fa-desktop" aria-hidden="true"></i>
                            &nbsp;Application</a>
                    </li>
                    <li class="nav-item">
                        <a href="/biostack" style="color: white;">
                            <i class="fa fa-terminal" aria-hidden="true"></i> &nbsp;Biostack</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" style="color: white;"><i class="fa fa-info-circle" aria-hidden="true"></i>
                            &nbsp;About</a>
                    </li>
                    <li class="has-form nav-item form-group">
                        <!-- <form action="{index/search}" class="navbar-form navbar-left" method="get">
                            <div class="row collapse input-group stylish-input-group" style="position: relative">
                                <div class="large-8 small-9 columns">
                                    <input type="text" name="q" class="form-control" focuse placeholder="Search..">
                                </div>
                                <div class="large-4 small-3 columns">
                                    <input type="submit" class="success button expand" value="Search">
                                </div>
                            </div>
                        </form> -->

                        <div class="form-group ng-scope" ng-controller="globalSearchController"
                            style="position: absolute;top: 52px;">
                            <div class="input-group stylish-input-group" style="position: relative;right: 86%;">
                                <span class="fa fa-search" style="margin-left:-15px"></span>
                                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                    ng-model="asyncSelected" data-animation="am-flip-x" data-min-length="3"
                                    data-limit="10" select-on-click="" data-auto-select="true" data-on-show="showed()"
                                    data-on-select="onPartSelected()"
                                    bs-options="result as result.formatted_string for result in doLiveSearch($viewValue)"
                                    placeholder="Search biocad.cloud"
                                    style="width: 265px; margin-top: -10px; padding-bottom: 0px !important;"
                                    bs-typeahead="" focuse="" autocomplete="off">

                            </div>
                        </div>
                    </li>

                    <!-- has-dropdown -->

                    <li id="user-menu" class="dropdown {$has_dropdown} not-click">
                        <a class="dropdown-toggle" data-toggle="dropdown" style="color: white;"
                            href="{<platform>passport/portal}">
                            <i class="fa fa-user"></i> {$username}
                        </a>

                        {$menu_dropdown}

                    </li>

                </ul>
            </section>
        </div>
    </nav>
</div>