/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
/.vs/Develop/v15/.suo
/.vs/slnx.sqlite
/.vs/Develop/v15
/php-bigxhtml.html
/data/
*.suo
*.sqlite


bin/
obj/
*.map
/javascript/login_script.js
/javascript/suggestion_list.js
/javascript/table_editor.js
/javascript/kegg_organism.js
