<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="app" content="FlowEditor" />
    <meta name="api:save" content="/biostack/pathway_design/save" />
    <meta name="api:run" content="/biostack/reactor/run" />
    <meta name="api:load" content="/biostack/pathway_design/load" />
    <meta name="data:model_id" content="{$model_id}" />

    ${../../includes/head.html}

    <script src="/resources/vendor/Gojs/go.js"></script>
    <script src="/resources/vendor/Gojs/extensions/Figures.js"></script>
    <script src="/resources/vendor/Gojs/extensions/NodeLabelDraggingTool.js"></script>
</head>

<body class="index">
    ${../../includes/nav.html}

    <div class="container" id="wrapper" style="height: 100%; min-height: 600px;">

        <br /> <br /> <br /> <br /> <br />
        <div class="row">
           
                <h1>Systems Dynamics Editor</h1>

                <div id="sample">
                    <div id="myDiagram" style="float: left; width:1600px; height:1200px; border:solid 1px black">

                    </div>

                    <hr />

                    <button id="pointer" class="pointer_selected">Pointer</button>
                    <button id="save" class="pointer_selected">Save Model</button>
                    <button id="run" class="pointer_selected">Save &amp; Run</button>
                    <button id="stock" class="node_normal" style="margin-left:20px;">Stock</button>
                    <button id="cloud" class="node_normal">Cloud</button>
                    <button id="variable" class="node_normal">Variable</button>
                    <button id="flow" class="link_normal" style="margin-left:20px;">Flow</button>
                    <button id="influence" class="link_normal">Influence</button>

                    <ul>
                        <li>group nodes and links: select some nodes and links and then type Ctrl-G (or invoke via
                            context menu)</li>
                        <li>ungroup an existing group: select a group and then type Ctrl-Shift-G (or invoke via context
                            menu)</li>
                    </ul>

                    <p style="font-size: 0.9em;">
                        A <em>system dynamics diagram</em> shows the storages (stocks) and flows of material in some
                        system,
                        and the factors that influence the rates of flow.
                        It is usually a cosmetic interface for building mathematical models --
                        you provide values and equations for the stocks and flows,
                        and appropriate software can then simulate the system's behaiour.
                    </p>
                    <p>
                        The diagram has two types of link: flow links and influence links.
                        In additon to the node attached to each flow, there are 3 types of node:
                    <ul>
                        <li><b>stocks</b>, the amount of some substance</li>
                        <li><b>clouds</b>, like stocks, but outside the system of interest</li>
                        <li><b>variables</b>, either numeric constants or calculated from other elements</li>
                    </ul>
                    </p>
                </div>
           
        </div>

    </div>

    ${../../includes/footer.html}

</body>

<script type="text/javascript" src="/resources/typescripts/Metabolic_pathway.min.js"></script>

</html>