<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="app" content="FlowEditor" />

    ${../../includes/head.html}

    <script src="/resources/vendor/Gojs/go.js"></script>
    <script src="/resources/vendor/Gojs/extensions/Figures.js"></script>
    <script src="/resources/vendor/Gojs/extensions/NodeLabelDraggingTool.js"></script>

    <script id="demo-system" type="application/json">
        { "class": "go.GraphLinksModel",
          "linkLabelKeysProperty": "labelKeys",
          "nodeDataArray": [
        {"key":"grass", "category":"stock", "label":"Grass", "loc":"30 220", "label_offset":"0.5 0.5 0 30"},
        {"key":"cloud1", "category":"cloud", "loc":"200 220"},
        {"key":"sheep", "category":"stock", "label":"Sheep", "loc":"30 20","label_offset":"0.5 0.5 0 -30"},
        {"key":"cloud2", "category":"cloud", "loc":"200 20"},
        {"key":"cloud3", "category":"cloud", "loc":"-150 220"},
        {"key":"grass_loss", "category":"valve", "label":"grass_loss","label_offset":"0.5 0.5 0 20" },
        {"key":"grazing", "category":"valve", "label":"grazing","label_offset":"0.5 0.5 45 0" },
        {"key":"growth", "category":"valve", "label":"growth","label_offset":"0.5 0.5 0 20" },
        {"key":"sheep_loss", "category":"valve",  "label":"sheep_loss","label_offset":"0.5 0.5 0 20" },
        {"key":"k1", "category":"variable",  "label":"good weather", "loc": "-80 100"},
        {"key":"k2", "category":"variable",  "label":"bad weather", "loc": "100 150"},
        {"key":"k3", "category":"variable",  "label":"wolves", "loc": "150 -40"}
          ],
          "linkDataArray": [
        {"from":"grass", "to":"cloud1", "category":"flow", "labelKeys":[ "grass_loss" ]},
        {"from":"sheep", "to":"cloud2", "category":"flow", "labelKeys":[ "sheep_loss" ]},
        {"from":"grass", "to":"sheep", "category":"flow", "labelKeys":[ "grazing" ]},
        {"from":"cloud3", "to":"grass", "category":"flow", "labelKeys":[ "growth" ]},
        {"from":"grass", "to":"grass_loss", "category":"influence"},
        {"from":"sheep", "to":"sheep_loss", "category":"influence"},
        {"from":"grass", "to":"growth", "category":"influence"},
        {"from":"grass", "to":"grazing", "category":"influence"},
        {"from":"sheep", "to":"grazing", "category":"influence"},
        {"from":"k1", "to":"growth", "category":"influence"},
        {"from":"k1", "to":"grazing", "category":"influence"},
        {"from":"k2", "to":"grass_loss", "category":"influence"},
        {"from":"k3", "to":"sheep_loss", "category":"influence"}
          ]
        }
              </script>

</head>

<body class="index">
    ${../../includes/nav.html}

    <div id="wrapper">

        <br />
        <br />
        <div class="row">
            <div class="column-12-large">
                <h1>Systems Dynamics Editor</h1>

                <div id="sample">
                    <div id="myDiagram" style="width:1000px; height:650px; border:solid 1px black">
                    
                    </div>

                    <br />

                    <button id="pointer" class="pointer_selected">Pointer</button>
                    <button id="stock" class="node_normal" style="margin-left:20px;">Stock</button>
                    <button id="cloud" class="node_normal">Cloud</button>
                    <button id="variable" class="node_normal">Variable</button>
                    <button id="flow" class="link_normal" style="margin-left:20px;">Flow</button>
                    <button id="influence" class="link_normal">Influence</button>

                    <p>
                        A <em>system dynamics diagram</em> shows the storages (stocks) and flows of material in some
                        system,
                        and the factors that influence the rates of flow.
                        It is usually a cosmetic interface for building mathematical models --
                        you provide values and equations for the stocks and flows,
                        and appropriate software can then simulate the system's behaiour.
                    </p>
                    <p>
                        The diagram has two types of link: flow links and influence links.
                        In additon to the node attached to each flow, there are 3 types of node:
                    <ul>
                        <li><b>stocks</b>, the amount of some substance</li>
                        <li><b>clouds</b>, like stocks, but outside the system of interest</li>
                        <li><b>variables</b>, either numeric constants or calculated from other elements</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>

    ${../../includes/footer.html}

</body>

<script type="text/javascript" src="/resources/typescripts/Metabolic_pathway.min.js"></script>

</html>