<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="data:repository" content="https://cdn.biodeep.cn/assets/ko00001.json" />
    <meta name="app:explorer" content="explorer" />
    <meta name="app" content="Pathway_explorer" />

    ${../../includes/head.html}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jstree@3.3.12/dist/jstree.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jstree@3.3.12/dist/themes/default/style.min.css" />

    <style>
        .jstree-themeicon-custom {
            background-size: contain !important;
        }
    </style>

</head>

<body class="index">
    ${../../includes/nav.html}

    <div id="wrapper">

        <br />
        <br />
        <div class="row">
            <div class="column-12-large">
                <h1>Pathway Designer</h1>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="column-3-large" id="explorer">
                <!-- left: view kegg pathway maps brite -->
            </div>
            <div class="column-9-large">
                <!-- right: show pathway graph -->
            </div>
        </div>

    </div>

    ${../../includes/footer.html}

</body>

<script src="/resources/typescripts/Metabolic_pathway.js"></script>

</html>