<!DOCTYPE html>
<html lang="en">

<head>
    ${../../includes/head.html}
</head>

<body class="index">
    ${../../includes/nav.html}

    <div id="wrapper">

        <br />
        <br />
        <div class="row">
            <div class="column-12-large">
                <h1>Pathway Designer</h1>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="column-3-large">
                <!-- left: view kegg pathway maps brite -->
            </div>
            <div class="column-9-large">
                <!-- right: show pathway graph -->
            </div>
        </div>

    </div>

    ${../../includes/footer.html}

</body>

</html>