${../../includes/data_view.html}

<link href="http://cdn.biodeep.cn/styles/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css">

<body>

    <div id="wrapper" style="margin: 50px; min-height: 400px;">

        <div class="row">

            <div class="col-lg-8">

                <form>

                </form>

            </div>

            <div class="col-lg-4">

                <h3>Help</h3>

                <code><pre>

|   |sample1|sample2|sample3|...|
|---+-------+-------+-------+---|
|ID1|  exp1 |  exp2 |  exp3 |...|
|ID2|  exp1 |  exp2 |  exp3 |...|
|ID3|  exp1 |  exp2 |  exp3 |...|
|...|  ...  |  ...  |  ...  |...|

</pre></code>

                <ul>
                    <li>1. The column names is the sample names.</li>
                    <li>2. Each rows name is the gene/protein/metabolite ID/names.</li>
                    <li>3. The cell value that cross the sample name and the ID names is the experimental expression numeric
                        values.
                    </li>
                </ul>

            </div>
        </div>
    </div>
</body>