<!DOCTYPE html>
<html lang="en">

<head>
    ${../includes/head.html}
</head>

<body class="index">
    ${../includes/nav.html}

    <div id="wrapper">

        <br />
        <br />

        <div class="row">

            <h1>{$title}</h1>
            <br />

            <blockquote>
                <span style="color:gray;">{$url}</span>
            </blockquote>

            <p>Target resource is not allowed to access based on your current credential!</p>
            <p>
                {$message}
            </p>

            <hr /> ${footer.html}
        </div>

    </div>

    ${../includes/footer.html}

</body>

</html>